{% extends 'navbar.html' %}
{% block title %}Cattle Care | Government Schemes{% endblock%}
{% block CSS %}

body {
    background-color: #f5f8fa;
  }

h2 {
    color: #73B17E;
}

.lead {
    color:black;
}

.linkss {
    color: #73B17E;
    font-weight: bold;
    font-style: italic;
    text-align: right;
    text-decoration: none;
}

.linkss:hover {
    color: #6096BA;
}

{% endblock%}

{% block body %}
  <div class="row featurette mx-5 mt-3">
      <h2 class="featurette-heading">1. Livestock Health and Disease Control</h2>
      <p class="lead">The overall aim of the Livestock Health & Disease Control scheme is to improve the animal health sector by way of implementation of prophylactic vaccination programmes against
        various diseases of livestock and poultry, capacity building, disease surveillance and strengthening of veterinary infrastructure. 
      </p>
      <a class="linkss" href="https://dahd.nic.in/about-us/divisions/livestock-health" target="_blank">Read More...</a>
    </div>
  <hr class="featurette-divider">
  <div class="row featurette mx-5 mt-3">
    <h2 class="featurette-heading">2. National Animal Disease Control Programme (NADCP)</h2>
    <p class="lead">National Animal Disease Control Programme (NADCP) is a flagship scheme launched by Hon'ble Prime Minister in September, 2019 for control of Foot & Mouth Disease and Brucellosis
        by vaccinating 100% cattle, buffalo, sheep, goat and pig population for FMD and 100% bovine female calves of 4-8 months of age for brucellosis with the total outlay of 
        Rs.13, 343.00 crore for five years (2019-20 to 2023-24).
    </p>
    <a class="linkss" href="https://dahd.nic.in/nadcp1" target="_blank">Read More...</a>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette mx-5 mt-3">
    <h2 class="featurette-heading">3. National Livestock Mission</h2>
    <p class="lead">The focus of the scheme is on entrepreneurship development and breed improvement in poultry, sheep, goat and piggery including feed and fodder development. The scheme is
        implemented with the following three Sub-Missions:Sub-Mission on Breed Development of Livestock & Poultry, Sub-Mission on Feed and Fodder development and Sub-Mission on Extension and Innovation
    </p>
    <a class="linkss" href="https://nlm.udyamimitra.in/Home/SchemePage" target="_blank">Read More...</a>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette mx-5 mt-3">
    <h2 class="featurette-heading">4. Supporting Dairy Cooperatives & Farmer Producer Organizations (SDCFPO)</h2>
    <p class="lead">Supporting Dairy Cooperatives and Farmer Producer Organizations engaged in dairy activities:-
        A Scheme named “Supporting Dairy Cooperatives and Farmer Producer Organizations engaged in dairy activities” was approved to provide working capital loan to State
        Cooperatives and Federations. An amount of Rs. 303 crore has been released to National Dairy Development Board till December 2021 for implementation of the scheme.
    </p>
    <a class="linkss" href="https://dahd.nic.in/sdcfpo" target="_blank">Read More...</a>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette mx-5 mt-3 mb-3">
    <h2 class="featurette-heading">5. Other Schemes</h2>
    <p class="lead">Other schemes contain all Maharashtra schemes regarding animal welfare. It contains schemes regarding the functioning of District Society for the Prevention of Cruelty
        against Animals in the state, Govardhan Govansh Seva yojana declaring animal shelters,Pune SPCA etc.
    </p>
    <a class="linkss" href="https://ahd.maharashtra.gov.in/schemes" target="_blank">Read More...</a>
  </div>
  </div>
{% endblock %}