{% extends 'navbar.html' %}
{%block title %}Cattle Care | Home {% endblock %}
  {% block CSS %}

    /*slider*/

    .slider-container {
      background-color: #6096BA;
    }

    .card-group {
      margin: 0 5em;
    }

    .card {
      margin: 0 2em;
    }
    
    .card-title {
      text-align: center;
    }

    .card-title a {
      color:black;
      text-decoration: none;
    }
    
    .card-title a:hover {
      color:#0084A8 ;
      text-decoration: none;
    }

    p {
      font-style: italic;
    }

    .heat1 {
      display: flex;
      margin-left: 37px;
    } 

    .heat2 {
      display: flex;
      padding-top: 7px;
      margin-left: 30px;
    }

    .card-text {
      text-align: center;
      padding-bottom: 30px;
    }

    .card-text2 {
      text-align: center;
      padding-bottom: 28px;
    }

    .carousel-inner {
      padding: 1em;
    }

    .carousel-control-prev {
      background-color: #6d6767;
      width: 5vh;
      height: 5vh;
      border-radius: 50%;
      top: 83%;
      transform: translateY(-50%);
      margin-left: 40px;
    }

    .carousel-control-next {
      background-color: #6d6767;
      width: 5vh;
      height: 5vh;
      border-radius: 50%;
      top: 83%;
      transform: translateY(-50%);
      margin-right: 40px;
    }
  {% endblock %} 
{% block body %}  
  <!-- Home Page Cow Image -->
  <div class="homeimage">
    <img src="https://i.ibb.co/DVmnqXN/home3.jpg" alt="homepg" width="100%" height="406" border="0">
  </div>
  <!--Card Slider-->
  <div class="slider-container" class="container-sm">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card-group">
            <div class="card card1 shadow-lg bg-body rounded-3">
              <div class="card-body">
                <h3 class="card-title"><a href="/AllData">ALL CATTLE</a></h3>
                <br>
                <p class="card-text">You can find data of all cattle here and can also register new ones to the
                  datalist.</p>
              </div>
            </div>
            <div class="card card2 shadow-lg bg-body rounded-3">
              <div class="card-body">
                <h3 class="card-title">MILKING COWS</h3>
                <br>
                <class="card-text">
                  <i><p1>Find entry of a particular date:</p1></i>
                  <form class="row g-3 py-1" method="POST">
                    {% csrf_token %}
                    <div class="col-auto">
                      <input type="date" class="form-control" id="FindDate" name="FindDate" >
                    </div>
                    <div class="col-auto">
                      <button type="submit" class="btn btn-outline-dark mb-3" value="Find Entry" required> Fetch
                    </div>
                </form>
                  <div class="dropup">
                    <i><p1>New entry of milk data:</p1></i><a class="btn btn-sm btn-dark dropdown-toggle mx-3" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      Production Batches
                    </a>                  
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <li><a class="dropdown-item" href="/Morning">Morning Production</a></li>
                      <li><a class="dropdown-item" href="/Afternoon">Afternoon Production</a></li>
                      <li><a class="dropdown-item" href="/Evening">Evening Production</a></li>
                    </ul>
                  </div>
                </form>
              </div>
            </div>
            <div class="card card3 shadow-lg bg-body rounded-3">
              <div class="card-body">
                <h3 class="card-title"><a href="/Pregnant">PREGNANT COWS</a></h3>
                <br>
                <p class="card-text">You can find data of cows that are currently pregnant.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card-group">
            <div class="card shadow-lg bg-body rounded-3">
              <div class="card-body">
                <h3 class="card-title"><a href="/Calf">CALVINGS</a></h3>
                <br>
                <p class="card-text2">You can find data of all calvings (babies).</p>
                <br>
              </div>
            </div>
            <div class="card shadow-lg bg-body rounded-3">
              <div class="card-body">
                <h3 class="card-title"><a href="/Bulls">BULLS (MALES)</a></h3>
                <br>
                <p class="card-text2">You can find data of all bulls (males).</p>
                <br>
              </div>
            </div>
            <div class="card shadow-lg bg-body rounded-3">
              <div class="card-body">
                <h3 class="card-title">HEAT PERIOD</h3>
                <br>
              <div class="heat1">
                <p> Enter Missed Heat Period of cow:</p>
                <a class="btn btn-sm btn-dark mx-2 mb-3" href="/HeatPeriod" role="button">Enter</a>
                  </div>
                <div class="heat2 mt-3">
                    <p> Predicted date of next Heat Period:</p>
                    <a class="btn btn-sm btn-dark mx-2 mb-3" href="/HeatDisplay" role="button">Check</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div>
  </div>
{% endblock %}
