{% extends 'navbar.html' %}
{% block CSS %}

body {
    background-color: #f5f8fa;
  }

h2 {
    color: #73B17E;
}

.lead {
    color:black;
}

.linkss {
    color: #73B17E;
    font-weight: bold;
    font-style: italic;
    text-align: right;
    text-decoration: none;
}

.linkss:hover {
    color: #6096BA;
}

{% endblock%}
{% block title %}Recommendations{% endblock%}
{% block body %}
  <div class="row featurette mx-5 mt-3">
      <h2 class="featurette-heading">1. Care of Pregnant Cow</h2>
      <p class="lead">It is very important to know how to take proper care of pregnant cows. Here you can gain knowledge about the calves,
          healcare, nutrition and feeding methods of pregnant cows. The phases of pregnancy, breeding materials and physical health of the 
          cow is important as well.
      </p>
      <a class="linkss" href="https://www.nddb.coop/farmer/animal-nutrition/care-of-pregnant-animals" target="_blank">Read More...</a>
    </div>
  <hr class="featurette-divider">
  <div class="row featurette mx-5 mt-3">
    <h2 class="featurette-heading">2. Maximizing Bull Fertility and Performance</h2>
    <p class="lead">Purchasing bulls is a large initial investment for an operation — but, unfortunately, 
        these animals do not often receive the attention they deserve, especially outside of breeding season. Proper management, with an emphasis on nutrition, 
        will help you maximize the performance of your bulls. Below are three key areas to monitor prior to turning out your bulls.
    </p>
    <a class="linkss" href="https://www.crystalyx.com/blog/maximizing-bull-fertility-and-performance/#:~:text=Zinc%20plays%20an%20important%20role,concentration%20and%20motility%20in%20bulls" target="_blank">Read More...</a>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette mx-5 mt-3">
    <h2 class="featurette-heading">3. Common Animal Diseases and their Management</h2>
    <p class="lead">Diseases of animals remain a concern principally because of the economic losses they cause and the 
        possible transmission of the causative agents to humans. This recommendation gives an idea about common diseases in cattle like
        Anthrax, Black Quarter, Foot-and-mouth, Mastitis, Milk Fever, etc. and how a farmer can manage them.
    </p>
    <a class="linkss" href="https://vikaspedia.in/agriculture/livestock/general-management-practices-of-livestock/common-animal-diseases-and-their-prevention-and-treatments#:~:text=Calf%20scour-,Anthrax,causes%20acute%20mortality%20in%20ruminants" target="_blank">Read More...</a>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette mx-5 mt-3">
    <h2 class="featurette-heading">4. Vaccination Schedule in Cattle</h2>
    <p class="lead">Vaccination programs for  cattle herds are designed to protect the animals from diseases caused by infectious organisms such as viruses, 
        bacteria, and protozoans. Vaccines stimulate an animal’s immune system to produce a protective response against an organism. This
        recommendation will enlighten you about the vaccine available in market, their use and what precautions are to be taken before and
        after the vaccination procedure.
    </p>
    <a class="linkss" href="https://vikaspedia.in/agriculture/livestock/cattle-buffalo/vaccination-schedule-in-cattle-and-buffalo" target="_blank">Read More...</a>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette mx-5 mt-3 mb-3">
    <h2 class="featurette-heading">5. First Aid in Cattle for Health Management</h2>
    <p class="lead">From profit point of view and from public health point of view a herd health programme among cattle is important. A 
        farmer should know how to provide help to its cattle in case of emergancy and how to treat it with first-aid.
    </p>
    <a class="linkss" href="https://www.pashudhanpraharee.com/first-aid-in-cattle-health-management-for-cattle-farmers/" target="_blank">Read More...</a>
  </div>
  </div>
{% endblock %}